html {
    background: url(../FamilyPlanner/images/red-background.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    width: 100%;
    height: 200px;
    color: red;
    font-family: 'Handlee', cursive;
    font-size: 60pt;
    text-align: center;
}

figure {
    float: left;
    margin-right: 0;
    font-size: 10pt;
    text-align: center;
}

h1 {
    font-family: 'Handlee', cursive;
    font-size: 84pt;
    font-weight: bold;
    text-align: center;
}

h2 {
    text-align: center;
    color: white;
    font-size: 32pt;
}

h3 {
    font-size: 24pt;
    color: white;
}

#header-title {
    height: 180px;
    /*margin-top: 14px;*/
    
    margin-left: 0;
    margin-right: 95pt;
    width: 74%;
    float: right;
    text-align: center;
    font-family: 'Handlee', cursive;
    font-size: 72pt;
}

#date-time {
    text-align: center;
    font-size: 32px;
}

#item-title {
    width: 100%;
}

#weather {
    width: 100%;
    text-align: center;
    color: white;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
}

#weather-table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: white;
}

#current {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 14pt;
    font-weight: bold;
    color: #FDF902;
}

#label {
    text-align: right;
    padding-right: 5px;
}

#content {
    text-align: left;
    padding-left: 5px;
}

#weather-title {
    font-size: 24pt;
}

#tonight {
    font-size: 14pt;
    font-weight: bold;
    color: #FDF902;
}

#tomorrow {
    font-size: 14pt;
    font-weight: bold;
    color: #FDF902;
}

#location {
    font-size: 14pt;
}

#updated {
    font-size: 10pt;
}

#left-col {
    float: left;
    width: 40%;
    padding-top: 5px;
}

#right-col {
    float: right;
    width: 60%;
    padding-top: 5px;
}

#qotd {
    width: 100%;
    text-align: center;
    align-content: center;
    margin: auto;
}

#quote {
    text-align: center;
    color: #FDF902;
    font-size: 14pt;
    font-weight: bold;
}

#qsource {
    text-align: right;
    color: #FDF902;
    font-size: 12pt;
    font-style: italic
}

#wotd {
    border-top: 1px solid black;
    padding-top: 20px;
    width: 100%;
    text-align: center;
    margin: auto;
}

#word {
    text-align: center;
    color: #FDF902;
    font-size: 14pt;
    font-weight: bold;
}

#definition {
    text-align: left;
    color: #FDF902;
    font-size: 14pt;
    font-style: oblique;
}

#nyt {
    clear: left;
    padding-top: 40px;
    border-top: 1px solid black;
    padding-top: 20px;
    width: 100%;
}

#nyt-title {
    text-align: center;
    width: 100%;
}

#title1 {
    color: white;
    font-size: 14pt;
}

#desc1 {
    color: yellow;
    font-size: 12pt
}

#title2 {
    color: white;
    font-size: 14pt
}

#desc2 {
    color: yellow;
    font-size: 12pt
}

#title3 {
    color: white;
    font-size: 14pt
}

#desc3 {
    color: yellow;
    font-size: 12pt
}

#calendar {
    width: 100%;
    padding-left: 3%;
    padding-top: 15px;
}

#provider {
    font-size: 10pt;
}

#source {
    font-size: 10pt;
    font-style: italic;
    font-weight: lighter;
}